.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    background-color: #EDECEC;

    .app-navigation-container {
        overflow: hidden;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 17.5vw;
    }

    .app-content-container {
        overflow-y: auto;
        height: 100vh;
        width: 82.5vw;
        padding: 15px;
        background-color: #EDECEC;

        .header-sticky {
            height: 45px;
            width: 80.5%;
            background-color: #fff;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 15px;
            box-shadow: 0px 5px 15px lightgray;
            position: fixed;
            z-index: 100;
        }

        .card {
            position: relative;
            z-index: 1;
            top: 75px;
            width: 100%;
            border-radius: 15px;
            background-color: #fff;
            padding: 5px;
            margin-bottom: 30px;
        }
    }
}