@import './Variables.scss';

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    background-color: $lightGrayColor;

    .app-navigation-container {
        overflow: hidden;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 17.5vw;
    }

    .app-main-container {
        height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        .app-content-container {
            padding: 15px;
            background-color: $lightGrayColor;

            .app-content-wrapper {
                width: 100%;
        
                .card {
                    position: relative;
                    z-index: 1;
                    border-radius: 15px;
                    background-color: $white;
                    padding: 15px;
                    min-height: 90vh;
                    padding: 15px;

                    p {
                        margin: 0px;
                    }
                }
            }
        }
    }
}