{% include '/emails/_email_header.html.twig' with { 'logo': logoUrl, 'settings': crmSettings} %}
{% block body %}
<div class="body-container">
    <div class="content">
        <h1>Your Verification Code!</h1>
        {{ message|raw }}
    </div>
</div>
{% endblock %}
{% include '/emails/_email_footer.html.twig' with { 'logo': logoUrl, 'settings': crmSettings} %}