{% include '/emails/_email_header.html.twig' with { 'logo': logoUrl, 'settings': crmSettings} %}
{% block body %}
<div class="body-container">
    <div class="content">
        <h1>Hi! Please confirm your email!</h1>
        <p>
            {{ message|raw }}
        </p>
    </div>
</div>
{% endblock %}
{% include '/emails/_email_footer.html.twig' with { 'logo': logoUrl, 'settings': crmSettings} %}