@import '../../Variables.scss';

.side-navigation {
    height: 100vh;
    width: 100%;

    .style-container {
        background-color: $white;
        display: block;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        height: 100%;

        .company-details {
            height: 5;
            width: 100%;
            background-color: $mainSchemaColor;
            border-top-right-radius: 15px;
            display: flex;
            align-items: center;

            h3 {
                color: $white;
                padding-left: 35px;
            }
        }

        .navigation-links {
            height: 85%;
            
            a {
                text-decoration: none;
                color: $black;
            }

            .link-container {
                height: 45px;
                border-top: 1px solid $grayColor;
                transition: 0.3s ease-in-out;
                padding-left: 35px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: $mainSchemaColor;
                    color: $white;
                    cursor: pointer;
                }
            }
        }

        .nav-el-icon {
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 15px;
            font-size: 26px;
        }

        .user-actions {
            display: flex;
            width: 15vw;
            height: 8.5%;
            align-items: flex-end;

            .action-container {
                display: flex;
                align-items: center;
                height: 45px;
                width: 100%;
                padding-left: 35px;
                border-bottom: 1px solid $grayColor;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: $mainSchemaColor;
                    cursor: pointer;
                    color: $white;
                }
            }
        }
    }
}